.photo__item1{
    grid-area: photo1;
}
.photo__item2{
    grid-area: photo2;
}
.photo__item3{
    grid-area: photo3;
}
.photo__item4{
    grid-area: photo4;
}
.photo__item5{
    grid-area: photo5;
}
.photo__item6{
    grid-area: photo6;
}
.photo__item7{
    grid-area: photo7;
}
.photo__item8{
    grid-area: photo8;
}
.photo__item9{
    grid-area: photo9;
}
.photo__item10{
    grid-area: photo10;
}
.photo__item11{
    grid-area: photo11;
}
.photo__item12{
    grid-area: photo12;
}
.photo__item13{
    grid-area: photo13;
}
.photo__item14{
    grid-area: photo14;
}
.photo__item15{
    grid-area: photo15;
}
.photo__item16{
    grid-area: photo16;
}
.photo__item17{
    grid-area: photo17;
}
.photo__item18{
    grid-area: photo18;
}
.photo__item19{
    grid-area: photo19;
}
.photo__item20{
    grid-area: photo20;
}
.photo__item21{
    grid-area: photo21;
}
.photo__item22{
    grid-area: photo22;
}

